<!DOCTYPE html>
<html>
  <head>
    <title>Ticket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav' %>
    <% flash.each do |name, msg| %>
      <div class="<%= name ==  'alert' ? 'bg-yellow-200' : 'bg-green-300' %>  flex justify-between items-center relative text-gray-600 py-3 px-3 mt-4 ">
        <span>
          <%= msg %>
        </span>
      </div>      
    <% end %>

    <%= yield %>
  </body>
</html>
